@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
  min-height: 100vh;
  background: linear-gradient( 180deg, rgba(22, 24, 38, 1) 0%, rgba(22, 24, 38, 1) 40%, rgba(58, 62, 123, 1) 100% );
}

.Main {
  padding: 10px;
  grid-template-columns: minmax(auto, 768px);
  display: grid;
  justify-content: center;
}

.Main h1{
  color: #fff;
  text-align: center;
}

.Main .Logo {
  max-width: 100%;
  justify-self: center;
}

.Items {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}

.FinalItems {
  grid-template-columns: repeat(1, 1fr);
  color: #fff;
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}

.FinalItems .Card{
  background-color: #44c767;
  border: 2px solid #18ab29;
}

.FinalItems .Card h2{
  font-weight: bold;
  justify-content: space-around;
}

.Card {
  text-decoration: none;
  background-color: #eaeaea;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 4s;
  animation-name: fade;
}

.Card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Card h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

